body {
	/*background-color: #121212;*/
}

#shift {
	display: block;
	position: absolute;
	top: 19.5em;
	left: 1em;
	width: 5em;
}

#shuffle {
	display: block;
	position: absolute;
	top: 18em;
	right: 1em;
	width: 5em;
}

#img {
	width: 80%;
	display: block;
	margin: auto;
}